* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #EFEFEF;
    color: black;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

a {
    text-decoration: none;
}

.topNav {
    position: fixed;
    width: 100%;
}

.topNavInner {
    padding: 23px 0 10px;
}

ul {
    list-style: none;
}

.topNav ul {
    float: right;
    list-style: none;
}

.topNav ul > li {
    padding-top: 5px;
    float: left;
    margin: 0 17px;
    font-size: 12px;
}

.topNav ul > li > a:hover {
    border-bottom: 3px solid #e8676b;
}

.topNav ul > li > a {
    font-weight: bold;
    display: block;
    padding: 7px 0;
    color: rgba(255,255,255,0.7);
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
}

.topNav .logo {
    font-family: 'Arial Black';
    padding: 4px 0 0 17px;
    float: left;
    font-size: 26px;
    font-weight: bold;
}

.topNav .logo > .rs {
    color: #E8676B;
    margin-right: 4px;
}

.logo > .card {
    color: #C0C2C5;
}

/*banner*/
.banner {
    height: 515px;
    background: url("./rs-cover.jpg");
    background-size: cover;
    background-position: center center;
}

.banner .mask {
    height: 515px;
    background-color: rgba(0,0,0,0.8);
}

/*briefCard*/
.briefCard {
    margin: 0 auto;
    max-width: 940px;
    background-color: white;
}

.briefCard .photoText {
    padding: 50px;
}

.briefCard .photo {
    float: left;
}

.briefCard .photo img {
    width: 299px;
    height: 347px;
}

.briefCard .text {
    float: right;
}

.briefCard footer {
    background-color: #E6686A;
    text-align: center;
}

.briefCard .socialMedia a {
    height: 40px;
    width: 40px;
    display: inline-block;
    margin: 16px;
}

.briefCard .socialMedia a:hover {
    background-color: #CF5D5F;
    border-radius: 50%;
}

.briefCard .socialMedia svg {
    width: 30px;
    height: 30px;
    fill: white!important;
    padding: 5px 0;
    vertical-align: top;
}

.briefCard hr {
    width: 470px;
    margin: 20px 0;
}

.sayHello {
    display: inline-block;
    background-color: #E6686A;
    padding: 4px 16px;
    color: white;
    position: relative;
    margin-bottom: 10px;
}

.sayHelloTriangle {
    border: 10px solid transparent;
    border-top: none;
    width: 0;
    border-left-color: #E6686A;
    position: absolute;
    top: 100%;
    left: 12px;
}


.briefCard .text h1 {
    margin-top: 18px;
}

.briefCard .text dl * {
    padding: 5px 0;
    float: left;
}

.briefCard .text dl dt {
    font-weight: bold;
    width: 25%;
}

.briefCard .text dl dd {
    color: #9DA0A7;
    width: 75%;
}
