<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HELLO</title>
    <link rel="stylesheet" href="/static/pure-min.css">
</head>
<body>
<table border="1">
    <thead>
    <tr>
        <th>执行人</th>
        <th>事件</th>
        <th>添加时间</th>
    </tr>
    </thead>

    <tbody>
    {% for todo in todos %}
    <tr>
        <td>{{ todo.get('name') or '-' }}</td>
        <td>{{ todo.get('content') or '-' }}</td>
        <td>{{ todo.get('time') or '-' }}</td>
    </tr>
    {% endfor %}
    </tbody>

    <form class="pure-form" action="" method="post">
        <fieldset>
            <legend>A compact inline form</legend>

            <input name="email" type="text" placeholder="Email">
            <input name="password" type="password" placeholder="Password">

            <label for="remember">
                <input id="remember" type="checkbox" name="is_remember"> Remember me
            </label>

            <button type="submit" class="pure-button pure-button-primary">提交</button>
        </fieldset>
    </form>
</table>
</body>
</html>
