body {
    margin: 0;
    background-color: black;
    color: white;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

a {
    text-decoration: none;
}

.topNav {
    border-bottom: 1px solid white;
    padding: 23px 0 10px;
}

.topNav > ul {
    margin: 0;
    list-style: none;
    float: right;
    padding: 0;
}


.topNav > ul > li {
    padding-top: 5px;
    float: left;
    margin: 0 17px;
    font-size: 12px;
}

.topNav > ul > li > a:hover {
    border-bottom: 3px solid #e8676b;
}

.topNav > ul > li > a {
    font-weight: bold;
    display: block;
    padding: 7px 0;
    color: rgba(255,255,255,0.7);
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
}

.topNav > .logo {
    font-family: 'Arial Black';
    padding: 4px 0 0 17px;
    float: left;
    font-size: 26px;
    font-weight: bold;
}

.topNav > .logo > .rs {
    color: #E8676B;
    margin-right: 4px;
}

.logo > .card {
    color: #C0C2C5;
}
