* {
    margin: 0;
    padding: 0;
}
body.prepare > *:not(#siteWelcome) {
    display: none;
}
body {
    background-color: #EFEFEF;
    color: black;
}

a {
    text-decoration: none;
}

ol, ul {
    list-style: none;
    white-space: nowrap;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

[data-x] {
    transform: translateY(0);
    transition: all 0.3s;
}

[data-x].offset {
    transform: translateY(80px);
}


/*topNav*/
.topNav {
    position: fixed;
    width: 100%;
    transition: all 1s;
    color: rgba(255, 255, 255, 0.7)
}

.topNavInner {
    padding: 23px 0 10px;
    z-index: 1;
}

.topNav ul {
    float: right;
    list-style: none;
}

.topNavInner > ul > li {
    padding-top: 5px;
    float: left;
    margin: 0 17px;
    font-size: 12px;
    position: relative;
}

.topNavInner > ul > li > a.highlight::after,
.topNavInner > ul > li > a.active::after {
    content: '';
    display: block;
    height: 3px;
    background-color: #E8676B;
    position: absolute;
    top: 100%;
    animation: slideBorder 0.2s forwards;
}

@keyframes slideBorder {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.dropDownMenu li {
    padding: 10px 20px;
}

.dropDownMenu {
    margin-top: 3px;
    color: black;
    background-color: white;
    display: none;
    position: absolute;
    top: 100%;
    text-wrap: none;
    right: 0;
    border-radius: 2px;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);;
    border: 1px solid #eee;
}

.menuTrigger.active .dropDownMenu {
    display: block;
    transition: all 0.9s;
}

.topNavInner > ul > li > a {
    font-weight: bold;
    display: block;
    padding: 7px 0;
    color: inherit;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    position: relative;
}

.topNav .logo {
    font-family: 'Arial Black';
    padding: 4px 0 0 17px;
    float: left;
    font-size: 26px;
    font-weight: bold;
}

.topNav .logo > .rs {
    color: #E8676B;
    margin-right: 4px;
}

.logo > .card {
    color: #C0C2C5;
}

.topNav.sticky {
    background-color: white;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
    color: black;
    z-index: 1;
}

.topNav.sticky .topNavInner {
    color: black;
    padding-top: 7px;
}

/*banner*/
.banner {
    height: 515px;
    background: url("./rs-cover.jpg");
    background-size: cover;
    background-position: center center;
}

.banner .mask {
    height: 515px;
    background-color: rgba(0, 0, 0, 0.8);
}

/*briefCard*/
.briefCard {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    margin: -314px auto 0;
    max-width: 930px;
    background-color: white;
}

.briefCard .photoText {
    padding: 50px;
}

.briefCard .photo {
    float: left;
}

.briefCard .photo img {
    width: 299px;
    height: 347px;
}

.briefCard .text {
    float: right;
}

.briefCard footer {
    background-color: #E6686A;
    text-align: center;
}

.briefCard .socialMedia a {
    height: 40px;
    width: 40px;
    display: inline-block;
    margin: 16px;
}

.briefCard .socialMedia a:hover {
    background-color: #CF5D5F;
    border-radius: 50%;
}

.briefCard .socialMedia svg {
    width: 30px;
    height: 30px;
    fill: white !important;
    padding: 5px 0;
    vertical-align: top;
}

.briefCard hr {
    width: 470px;
    margin: 20px 0;
}

.sayHello {
    display: inline-block;
    background-color: #E6686A;
    padding: 4px 16px;
    color: white;
    position: relative;
    margin-bottom: 10px;
}

.sayHelloTriangle {
    border: 10px solid transparent;
    border-top: none;
    width: 0;
    border-left-color: #E6686A;
    position: absolute;
    top: 100%;
    left: 12px;
}

.briefCard .text h1 {
    letter-spacing: 0.2em;
    margin-top: 18px;
    margin-bottom: 5px;
}

.briefCard .text dl > * {
    padding: 5px 0;
    display: inline-block;
}

.briefCard .text dl dt {
    font-weight: bold;
    width: 24%;
}

.briefCard .text dl dd {
    color: #9DA0A7;
    width: 75%;
}

/*downloadButton*/
#downloadResume {
    margin: 36px auto;
    text-align: center;
}

#downloadResume a {
    display: inline-block;
    background: white;
    border: 1px solid #cbcdcf;
    transition: all 0.3s;
    padding: 21px 55px;
    font-weight: bold;
    color: #3d4451;
    border-radius: 3px;
    letter-spacing: 0.2em;
    font-size: 15px;
}

#downloadResume a:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

/*selfIntroduction*/
#selfIntroduction {
    text-align: center;
    margin: auto;
    font-size: 20px;
    line-height: 36px;
    max-width: 930px;
    vertical-align: baseline;
}

/*section h2*/
section h2 {
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
    text-align: center;
    margin-top: 68px;
    margin-bottom: 30px;
    letter-spacing: 0.2em;
}

section {
    max-width: 930px;
    margin: 33px auto 0;
}

.skill ol {
    background-color: white;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    padding: 42px 50px 10px;
}

.skill ol li {
    float: left;
    width: 47%;
    margin-bottom: 42px;
}

.skill ol li:nth-child(even) {
    float: right;
}

.progressBar,
.progressBarInner {
    height: 5px; /*width: 100%;*/
    border-radius: 2px;
    transform: translateX(0);
    transition: all 0.5s;
    overflow: hidden;
}

.progressBar {
    background-color: #FAE1E1;
}

.progressBarInner {
    background-color: #E8676B;
}

.offset .progressBarInner {
    transform: translateX(-100%);
}

/*portfolio*/
.portfolio {
    margin-bottom: 150px;
    text-align: center;
}

.portfolio nav {
    display: inline-block;
}

.portfolio ol {
    display: inline-block;
}

.portfolio ol li {
    margin: 3px 27px;
    float: left;
    cursor: pointer;
}

#switchBar,
.portfolio .switchBar-inner {
    width: 100%;
    background-color: white;
    border-radius: 2px;
    height: 5px;
}

.portfolio .switchBar-inner {
    transition: all 0.3s;
}

#switchBar {
    position: relative;
}

.portfolio .switchBar-inner {
    background-color: #E8676B;
    position: absolute;
}

.state-1 .switchBar-inner {
    left: 0; /*不加的话没动画*/
    width: 86px;
}

.state-2 .switchBar-inner {
    left: 86px;
    width: 86px;
}

.state-3 .switchBar-inner {
    left: 172px;
    width: 145px;
}

.portfolio .jobs {
    min-height: 577px;
    width: 930px;
    margin-top: 30px;
    position: relative;
}

.portfolio .jobs img {
    display: block;
    position: absolute;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.portfolio .jobs img:nth-child(2) {
    left: 635px;
    position: absolute;
}

.portfolio .jobs img:nth-child(3) {
    left: 635px;
    top: 299px;
}

.loadding-wrapper {
    display: none;
}

.loadding-wrapper.active {
    background-color: #eee;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loadding {
    width: 200px;
    height: 200px;
    position: relative;
}

.loadding:after, .loadding:before {
    content: '';
    border-radius: 50%;
    width: 0;
    height: 0;
    background-color: #666;
    position: absolute;
    animation: load 2s linear infinite;
    top: 25%;
    right: 25%;
}

.loadding:before {
    background-color: black;
    animation-delay: 0.8s;
}

@keyframes load {
    from {
        width: 0;
        height: 0;
        top: 50%;
        right: 50%;
        opacity: 1;
    }
    to {
        height: 100px;
        width: 100px;
        top: 25%;
        right: 25%;
        opacity: 0;
    }
}