html {
    background-color: #F5F5D6;
}

#pai,
.saladict-DIV,
.cyxy-function,
#__selection-translator__ {
    display: block !important;
}

#rightContainer {
    position: absolute;
    left: 50px;
}

#content {
    font-size: 20px;
    font-family: Georgia;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.translated > .group > p {
    padding: 0 !important;
    width: 60%;
    float: right;
}

.translated > .group > p:nth-child(2) {
    /*     float: right; */
    position: relative;
    right: 20px;
    width: 40%;
}

.translated > .group {
    margin-bottom: 15px;
}

.rawEnglish {
    /*     max-width: 800px; */
    /*     left: 550px; */
    /*     position: relative; */
}

#rightContainer {
    width: 1300px;
}

.cyxy-trs-target {
    background-color: transparent;
}

#content img {
    float: none;
    width: 600px !important;
    height: auto !important;
}