.btn_zhankai,
#rightContainer img,
#rightContainer > *:not(#content),
#content > *:not(#tab_fanyi_con1),
body.vsc-initialized > *:not(:nth-child(11)) {
    display: none;
}

#_dict_layer {
    display: none !important;
}

html {
    background-color: #F5F5D6;
}

#pai,
.saladict-DIV,
.cyxy-function,
#__selection-translator__ {
    display: block !important;
}

#rightContainer {
    position: absolute;
    left: 200px;
}

#content {
    font-size: 20px;
    font-family: Georgia;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.translated > .group > p {
    padding: 0 !important;
    width: 50%;
    float: left;
}

.translated > .group > p:nth-child(2) {
    float: right;
    position: relative;
    right: -20px;
}

.translated > .group {
    margin-bottom: 20px;
}

.rawEnglish {
    max-width: 1200px;
    left: -90px;
    position: relative;
}

#pai {
    position: fixed;
    bottom: 20px;
    left: 20px;
    font-size: 30px;
    padding: 10px 20px;
    border-radius: 50%;
    background-color: #aaa;
    color: white;
    cursor: pointer;
}

#pai::after {
    content: 'P';
}
